In [ ]:
"""movies=soup.find('tbody',class_"listner_list).find_all("tr',attribute)
print(len(movies))
for movie in movies:
                 name=movie.find("td",class_="titlecolumn").a.text
                 name=movie.find("td",class_="titlecolumn").get_text(strip=true).split('.')[0]
                 year=movie.find("td",class_="titlecolumn").span.text.strip("()")
                 rank=movie.find("td",class_="rating").strong.text
                 print(i)

                 name
"""

'movies=soup.find(\'tbody\',class_"listner_list).find_all("tr\',attribute)\nprint(len(movies))\nfor movie in movies:\n                 name=movie.find("td",class_="titlecolumn").a.text\n                 name=movie.find("td",class_="titlecolumn").get_text(strip=true).split(\'.\')[0]\n                 year=movie.find("td",class_="titlecolumn").span.text.strip("()")\n                 rank=movie.find("td",class_="rating").strong.text\n                 print(i)\n\n                 name\n'

In [ ]:
from bs4 import BeautifulSoup
import requests
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
response=requests.get(url)

In [ ]:
soup=BeautifulSoup(response.content,"html.parser")
#soup

In [ ]:
table=soup.find_all('table')[1]

In [ ]:
header=soup.find('div',class_='mw-parser-output').find('table',class_='wikitable sortable').find_all('th')

In [ ]:
new=[]
for i in header:
   print(i.text)
   new.append(i.text.strip()) #strip for removing new line

Rank

Name

Industry

Revenue (USD millions)

Revenue growth

Employees

Headquarters

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=new)

In [ ]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [ ]:
header1=soup.find('div',class_='mw-parser-output').find('table',class_='wikitable sortable').find_all('tr')  #list of lists
#print(header1)

In [ ]:
row=[]
for i in header1[1:]: #first row is blank so ignoring

  row_data=(i.find_all('td')) #extracting one list at a time from list of list
  each_row_data=[data.text.strip() for data in row_data] #converting td values in a list so that it is easily insertable in df
  length=len(df)
  df.loc[length]=each_row_data

In [ ]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"